*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}
.lienhe
{
	display: grid;
	grid-template-columns: 700px 400px;
	padding-top: 40px;
}
.lienhe h5
{
	font-size: 30px;
	font-weight: 600;
	color: #37003c;
}
.lienhe p
{
	font-weight: 400;
}
form
{
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}
form h3
{
	font-size: 30px;
	font-weight: 700;
	color: #37003c;
	margin-top: -20px;
	padding-bottom: 30px;
}
form input
{
	height: 50px;
	width: 300px;
	padding-left: 30px;
	margin-bottom: 10px;
}
form #messa
{
	height: 100px;
}
form .btn
{
	background: #da9a29;
	width: 150px;
	height: 50px;
	color: white;
	font-size: 20px;
	font-weight: 900;
}
.container
{
	margin-bottom: 50px;
}
footer
{
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	display: flex;
	background: #111;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .container
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row; 
}
footer .container .sec
{
	margin-right: 30px;
}
footer .container .sec.aboutus
{
	width: 40%;
}
footer
{
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .container
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
footer .container .sec
{
	margin-right: 30px;
}
footer .container .sec.aboutus
{
	width: 40%;
}
footer .container  h2
{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}
footer .container h2:before
{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #f00;
}
footer  p
{
	color: #999;
}
footer .sci
{
	margin-top: 20px;
	display: flex;
}
footer .sci li
{
	list-style: none;
}
footer .sci li a
{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
}
footer .sci li a:hover
{
	background: red;
}
footer .sci li a .fab
{
	color: #fff;
	font-size: 20px;
}
.quickLinks
{
	position: relative;
	width: 25%;
}
.quickLinks ul li
{
	list-style: none;
}
.quickLinks ul li a
{
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}
.quickLinks ul li a:hover
{
	color: #fff;
}
.contact
{
	width: calc(35% - 60px);
	margin-right: 0 !important
}
.contact .info
{
	position: relative;
}
.contact .info li
{
	display: flex;
	margin-bottom: 16px;
}
.contact .info li span:nth-child(1)
{
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}
.contact .info li span
{
	color: #999;
}
.contact .info li span a
{
	color: #999;
}
.contact .info li a
{
	color: #999;
	text-decoration: none;
}
.contact .info li a:hover
{
	color: #fff;
}
.copyrightText
{
	width: 100%;
	background: #181818;
	padding: 8px 100px;
	text-align: center;
	color: #999;
}
.lienhe-text
{
	width: 100%;
	margin-top: -20px;
}
.lienhe-text h1
{
	font-size: 60px;
	font-weight: 700;
	color: white;
	position: absolute;
	top: 25%;
	left: 43%;
}
.lienhe-text img
{
	width: 100%;
	height: 200px;
}
.dia-diem
{
	display: grid;
	grid-template-columns: 350px 350px;
}
.dia-diem .dia-diem1,
.dia-diem .dia-diem2
{
	width: 300px;
	padding-top: 20px;
}
.dia-diem .dia-diem2 img,
.dia-diem .dia-diem1 img
{
	width: 100%;
}
.banner
{
	width: 100%;
}
.banner img
{
	width: 100%;
}
.banner .banner-text
{
	text-align: center;
	position: relative;
	height: 0;
	top: 130px;
}
.banner .banner-text h2
{
	font-weight: 900;
}
.banner .banner-text button
{
	padding: 10px 30px 10px 30px;
	background: #0af;
	border: none;
	font-weight: 600;
}
*
{
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}
header
{
	position: relative;
	max-width: 100%;
	margin: 20px auto;
	background: black;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logo img
{
	width: 70px;
	height: 70px;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 50px;
}
nav
{
	margin-left: 50px;
}
.side
{
	float: right;
	margin-top: -82px;
	background: #fe5900;
	padding: 17px 25px 17px 25px;
}
.clearfix
{
	clear: both;
}
nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li
{
	list-style: none;
}
nav ul li a
{
	display: block;
	margin: 20px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: white;
}
nav ul li a:hover,
nav ul li a.active
{
	background: #069370;
	color: #fff;
	transition: .5s;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1500;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.side-text
{
	margin-left: 120px;
}
.side-text h3
{
	font-weight: 900;
}
.side-text p
{
	font-weight: 300;
}
.side-text h5
{
	font-weight: 300;
	margin-bottom: 20px;
}
.drop-btn 
		{
			position: absolute;
			right: 8%;
			top: 20px;
			z-index: 3000;
		}
		.drop-btn .drops-btn
		{
			width: 120px;
			background: #242526;
			color: white;
			line-height: 40px;
			padding: 0 20px;
			border-radius: 50px;
			font-size: 20px;
			font-weight: 500;
		}
		.drop-btn .drops-btn span
		{
			float: right;
			line-height: 40px;
			font-size: 28px;
			cursor: pointer;
		}
		.drop-btn .wrapper
		{
			position: absolute;
			display: flex;
			width: 190px;
			overflow: hidden;
			top: 60px;
			background: #242526;
			border-radius: 5px;
			display: none;
		}
		.drop-btn .wrapper.show
		{
			display: block;
			display: flex;
		}
		.drop-btn .wrapper ul 
		{
			list-style: none;
			width: 300px;
			padding: 10px;
		}
		.drop-btn .wrapper ul  li
		{
			line-height: 55px;
		}
		.drop-btn .wrapper ul li a
		{
			position: relative;
			text-decoration: none;
			color: #b0b3b8;
			display: flex;
			font-weight: 500;
			padding: 0 10px;
			align-items: center;
			border-radius: 8px;
		}
		.drop-btn .wrapper ul li:hover a
		{
			background: #3A3B3C;
		}
		.drop-btn .wrapper ul li a .icon
		{
			height: 40px;
			width: 40px;
			margin-right: 13px;
			background: #ffffff1a;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			border-radius: 50%;
		}
		.drop-btn .wrapper ul li a i
		{
			position: absolute;
			right: 10px;
			font-size: 25px;
			pointer-events: none;
		}
/*-----------------tim tran dau --------------------------*/
